---
layout: default
title: index
---
<div class="text">
<h1><a href="{{site.repos_url}}">{{site.title}}</a></h1>
<h2>pages</h2>
<div class="group">
{% for page in site.pages %}
  {% if page.title and page.excerpt %}
    <a class="giant" href="{{page.url}}">{{page.title}}</a>
    {% if page.date %}
      <span class="info">{{page.date}}</span>
    {% endif %}
    <p>{{ page.excerpt | markdownify }}</p>
  {% endif %}
{% endfor %}
</div>
<h2>posts</h2>
<div class="group">
{% for post in site.posts %}
  {% if post.title %}
    <a class="giant" href="{{post.url}}">{{post.title}}</a>
    {% if post.date %}
      <span class="info">{{post.date}}</span>
    {% endif %}
    {% if post.excerpt %}
      <p>{{ post.excerpt | markdownify }}</p>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
<h2>other</h2>
<p><a class="giant" href="/atom.xml">Atom feed</a></p>
<p><a class="giant" href="{{site.repos_url}}">Fork me on GitHub</a></p>
</div>