---
layout: default
title: index
---
<div class="text">
<h1><a href="{{site.repos_url}}">{{site.title}}</a></h1>
<section>
<h2>pages</h2>
<ul class="group">
{% for page in site.pages | sort: 'date' reversed %}
  {% if page.title and page.excerpt %}
  <li>
    <a class="giant" href="{{page.url}}">{{page.title}}</a>
    {% if page.date %}
      <a class="info" href="{{page.url}}">{{page.date}}</a>
    {% endif %}
    {% if page.image %}
      <img src="{{page.image}}" alt="{{page.title}}" />
    {% endif %}
    <p>{{ page.excerpt }}</p>
  </li>
  {% endif %}
{% endfor %}
</ul>
</section>
<section>
<h2>posts</h2>
<ul class="group">
{% for post in site.posts | sort: 'date' reversed %}
  {% if post.title %}
  <li>
    <a class="giant" href="{{post.url}}">{{post.title}}</a>
    {% if post.date %}
      <a class="info" href="{{page.url}}">{{post.date}}</a>
    {% endif %}
    {% if post.image %}
      <a href="{{post.url}}"><img src="{{post.image}}" alt="{{post.title}}" /></a>
    {% endif %}
    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ul>
</section>
<section>
<h2>links</h2>
<ul class="group">
<li><a class="giant" href="{{site.repos_url}}">Fork me on GitHub</a></li>
<li><a class="giant" href="https://twitter.com/snipsnipsnip">twitter: @snipsnipsnip</a></li>
<li><a class="giant" href="http://snipsnipsnip.tumblr.com">snipsnipsnip.tumblr.com</a></li>
<li><a class="giant" href="/atom.xml">Atom feed</a></li>
</ul>
</section>