body {
  background: url(/favicon.ico) -32px repeat-y, url(/s/ricepaper.png);
  font: 100%/1.5 'ヒラギノ角ゴ Pro W3', 'HiraKakuPro-W3', 'HiraKakuProN-W3', Meiryo, Arial;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  background: url(/s/ricepaper.png);
  padding: 0.5em 1em;
  margin: 0 0 0 2em;
  border-radius: 20px 0 0 20px;
  box-shadow: inset 5px 5px 0px rgba(0,0,0,0.2);
}

h1 {
  border-radius: 0 0 0 20px;
  box-shadow: inset 5px 0px 0px rgba(0,0,0,0.2)
}

p {
  background-color: white;
  padding: 0;
  margin: 0.2em 1em;
  text-indent: 1em;
}

pre, ul, ol, dl {
  margin: 1em 3em 1em 3em;
  padding: 0;
}

ul ul, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a{
  text-decoration: none}
a:hover{
  text-decoration: underline}
code {
  background-color: #efe;
  padding: 0.3em;
  margin: 0 0.5em;
  border: 1px gray solid;
}

li {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

/* page/post */

.info{
  display: block;
  color: gray;
  font-size: smaller;
  margin: 0;
  text-align: right;
  clear: right;
  float: right;
  padding-right: 0.5em}

.text {
  margin: 0 10% 0 5%;
  background-color: white;
}

.no_toc#section {
  display: none;
}

#markdown-toc {
  position: fixed;
  right: 0;
  top: 0;
  background: url(/favicon.ico);
  list-style-position: inside;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 48px;
  height: 48px;
}

#markdown-toc li {
  display: none
}

#markdown-toc:hover {
  background: white url(/favicon.ico) no-repeat 100% 0;
  padding: 1em;
  overflow: auto;
  width: auto;
  height: auto;
}

#markdown-toc:hover li {
  display: list-item;
}

/* settings for code prettify */

.prettyprint {
  border: none !important;
}
.kwd {
  font-style: italic;
}
.linenums li {
  list-style-type: decimal !important;
  line-height: 1.2em;
  padding: 0.1em 1em;
  background-color: #efe;
}
.linenums li:hover {
  background-color: #ffd
}
.L1, .L3, .L5, .L7, .L9 {
  background-color: white !important;
}
.L4, .L9 {
  color: #191
}