body {
  background: url(/favicon.ico) -34px repeat-y, url(/s/ricepaper.png);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7, .giant {
  font-weight: normal;
  background: url(/s/ricepaper.png);
  padding: 0.5em 1em;
  margin: 1em 0 1em 2em;
  border-radius: 20px 0 0 20px;
  box-shadow: inset 5px 5px 0px rgba(0,0,0,0.2);
}

.giant {
  display: block;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0 0 0 20px;
  box-shadow: inset 5px 0px 0px rgba(0,0,0,0.2)
}

p {
  padding: 0;
  margin: 0.2em 1em;
  text-indent: 1em;
  line-height: 1.2;
}

pre, ul, ol, dl {
  margin: 1em 3em 1em 3em;
}

dl {
  border-left: 3px double gray;
}

dt {
  font-weight: bold;
  padding: 0.2em 0 0.2em 0.5em;
  color: #080;
  margin-left: 1px;
  margin-top: 0.5em;
  border-left: 3px double gray;
}

ul ul, ul ol, ol ul, ol ol {
  margin: 0 0 0 3em;
  padding-left: 0;
  border-left: none;
}

ul p, ol p {
  text-indent: 0;
  margin: 0;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a{
  text-decoration: none}
a:hover{
  color: #f50;
  text-decoration: underline}
code {
  background-color: #efe;
  padding: 0.2em;
  margin: 0 0.5em;
  border: 1px gray solid;
}
pre code {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

strike {
  color: #666;
}

cite:before {
  content: '\002015';
  margin: 0 0.5em;
}

cite {
  color: #666;
}

li {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

/* menu */

#menu {
  background: url(/favicon.ico) no-repeat;
  list-style-position: inside;
  list-style-type: none;
}

@media (min-width : 800px) {
  #menu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 48px;
    height: 48px;
  }

  #menu a {
    display: none
  }

  #menu:hover {
    background: white url(/favicon.ico) no-repeat 0 0;
    overflow: auto;
    width: auto;
    height: auto;
  }

  #menu:hover a {
    display: block;
    margin: 0;
    padding: 1em 1em 1em 4em;
  }
}

/* page/post */

.info{
  display: block;
  color: #999;
  font-size: smaller;
  text-align: right;
  padding: 0.5em}

.text {
  background-color: white;
  padding: 0 0 5% 0;
  margin: 5% 0;
}

@media (min-width : 800px) {
  .text {
    margin: 5% 10% 0 5%;
  }
}

/* settings for code prettify */

.prettyprint {
  border: none !important;
}
.kwd {
  font-style: italic;
}
.linenums li {
  list-style-type: decimal !important;
  line-height: 1.2em;
  padding: 0.1em 1em;
  background-color: #efe;
}
.L1, .L3, .L5, .L7, .L9 {
  background-color: white !important;
}
.linenums li:hover {
  background-color: #ffd !important;
}
.L4, .L9 {
  color: #191
}