<!doctype html><html lang="ja"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - snipsnipsnip.github.io</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="s/default.css">
<link rel="stylesheet" href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css">
<link type="application/atom+xml" rel="alternate" href="/atom.xml">
</head><body>
<div id="body">{{ content }}</div>
<div id="menu"><a href="/">snipsnipsnip.github.io</a></div>
<script type="text/javascript" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script><script>
addEventListener('load', function() {
  var pre = document.getElementsByTagName("pre")
  for (var i=0; i<pre.length; i++)
  {
    pre[i].className = "prettyprint linenums"
  }
  prettyPrint()
}, false);
</script></body></html>